<a href="https://colab.research.google.com/github/mkatepallewar/Term-1/blob/master/01_Getting_%26_Knowing_Your_Data/Chipotle/Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**EX1- Getting and Knowing your Data - Chipotale Data**

######Import required Library

In [0]:
import pandas as pd
import numpy as np

######Read CSV file from mentioned location

In [3]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df_chipotale=pd.read_csv(url,sep='\t')

df_chipotale

      order_id  ...  item_price
0            1  ...      $2.39
1            1  ...      $3.39
2            1  ...      $3.39
3            1  ...      $2.39
4            2  ...     $16.98
...        ...  ...         ...
4617      1833  ...     $11.75
4618      1833  ...     $11.75
4619      1834  ...     $11.25
4620      1834  ...      $8.75
4621      1834  ...      $8.75

[4622 rows x 5 columns]

######See First 10 Entries

In [4]:
df_chipotale.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]